// COLORS
$primary-color: #F4C85F;
$secondary-color: #F4C85F;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(94, 122, 104);

$dark-grey: #5e7a68;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
